# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Intellij
.idea/
*.iml
*.iws
# Maven
log/
target/
.gitignore/
#MacOS
.DS_Store/
